@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #5227CC;
    --background-color: #171717;
    --box-color: #1F1F1F;
}


@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Thin-FD.woff');
    font-weight: 100;
}

@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-FD.woff');
    font-weight: 400;
}


@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Bold-FD.woff');
    font-weight: 700;
}

@font-face {
    font-family: xero;
    src: url('../fonts/xero.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    touch-action: pan-x pan-y;
    touch-zooming: none;
    user-zoom: fixed;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #ffffff;
    /* border: #464646 1px solid; */
    font-family: 'shabnam', 'Segoe UI';
    direction: rtl;
    overflow-x: hidden;
}


.ltr {
    direction: ltr;
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.paket-form__input:-webkit-autofill,
.paket-form__input:-webkit-autofill:hover,
.paket-form__input:-webkit-autofill:focus,
.paket-form__input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    background-clip: content-box !important;
    -webkit-box-shadow: 0 0 0 30px #1c1c1e inset !important;
    box-shadow: 0 0 0px 1000px #1c1c1e inset !important;
    background-color: #1c1c1e !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}