@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #EB5340;
    --background-color: #171717;
    --box-color: #1F1F1F;
}


@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-WOL.woff');
    font-weight: 400;
}

@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Bold-WOL.woff');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    color: #ffffff;
    border: #464646 1px solid;
    font-family: 'shabnam';
    direction: rtl;
}