@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #EB5340;
    --background-color: #171717;
    --box-color: #1F1F1F;
}


@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Thin-FD.woff');
    font-weight: 100;
}

@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-FD.woff');
    font-weight: 400;
}


@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Bold-FD.woff');
    font-weight: 700;
}

@font-face {
    font-family: xero;
    src: url('../fonts/xero.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    touch-action: pan-x pan-y;
    touch-zooming: none;
    user-zoom: fixed;
}

body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    color: #ffffff;
    /* border: #464646 1px solid; */
    font-family: 'shabnam', 'Segoe UI';
    direction: rtl;
    overflow-x: hidden;
}


.ltr {
    direction: ltr;
}

a {
    -webkit-tap-highlight-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}